
/** Stylesheet für AAI **/

/* general styles */

h3
{
	margin-top: 20px;
}

dt
{
	margin-top: 8px;
}

a.glossary
{
	text-decoration: none;
	border-color: #FE911B;
	border-width: 0px 0px 1px 0px;
	border-style: dashed;
}


/* styles for FAQ */

.faq { line-height:1.2em; font-size: 1em; text-decoration: underline;}


/* styles for HOWTO and guides */

tt 
{
	font-weight: bold;
}

OL.withroman
{
	list-style-type: lower-roman
}

.prompt
{ 
	color: blue;
}

.input
{ 
	color: red;
}

.warning
{
	color: red;
}

.icon {
	padding: 0px 4px 0px 0px;
}

.note
{
	color: blue;
	font-weight: bold;
}

.comment
{
	color: dimgray;
}

.console
{
	background: #F9F9F9;
	border: solid;
	border-width: 1px;
	border-color: gray;
	margin-left: 3px;
	margin-right: 1px;
	padding: 4px;
}

.file
{
	background: #FCFCC0;
	border: solid;
	border-width: 1px;
	border-color: gray;
	margin-left: 3px;
	margin-right: 1px;
	padding: 4px;
}

.bluebox
{
	border-width: 1px;
	border-color: #203781;
	background-color: #979CE3;
	border-style: solid;
	padding: 7px;
}

.greybox
{
	border-width: 1px;
	border-color: #333;
	background-color: #DEDEDE;
	border-style: solid;
	padding: 3px;
}

.greyframe
{
        border-width: 1px;
        border-color: #333333;
        border-style: solid;
        padding: 3px;
}


/* SWITCHaai Login pages style */

	/* SWITCHaai Login pages style */
	h2.switchaai
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #000000;
		font-size: 17px;
	}
	
	h3.switchaai
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #000000;
		font-size: 14px;
	}
	
	a.switchaai
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #203781;
		font-size: 12px;
	}
	
	span.switchaai
	{
		line-height: 30px;
	}
	
	img.switchaai-login-button
	{
		padding-bottom: 10px;
		padding-top: 12px;
	}
	
	input.non-aai-login-button
	{
		padding-bottom: 8px;
		padding-top: 12px;
		float: right;
	}
	
	input.non-aai-login
	{
		border-width: 1px;
		border-style: solid;
		border-color: #999999;
		margin-bottom: 4px;
	}
	
	input.switchaai
	{
		border-width: 1px;
		border-style: solid;
		border-color: #888888;
	}
	
	.switchaai
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #000000;
		font-size: 12px;
	}
	
	.login-field
	{
		background-color: #EBEBEB;
		border-color: #969696;
		border-width: 1px;
		border-style: solid;
		padding: 6px;
	}
	
	.box-aai
	{
		margin-left:auto; margin-right:auto;
		border-style: solid;
		border-color: #00247D;
		border-width: 1px;
		padding: 10px;
		text-align: left;
	}
	
	.box-non-aai
	{
		margin-left:auto; margin-right:auto;
		border-style: solid;
		border-color: black;
		border-width: 1px;
		padding: 10px;
		text-align: left;
	}

/* Styles inspired by econf.switch.ch, smap.switch.ch and nic.switch.ch */

.box{
	width: 100%;
	border: solid;
	border-width: 1px;
	border-color: #cccccc;
	border-collapse: collapse;
}

.boxHeadertext{
	padding: 0px 0px 1px 7px;
	font-size: 11px;
	font-weight: bold;
        vertical-align: top;
	background-color: #cccccc;
	border: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #ffffff;
}

.boxContentWhite{
	padding: 10px 6px 10px 7px;
	background-color: #ffffff;
}

.boxContentBlue{
	padding: 10px 6px 10px 7px;
	background-color: #dee5f1;
}

.boxContentPink{
	padding: 10px 6px 10px 7px;
	background-color: #f9efe7;
}

.norm1 {
	padding-left: 8px;
	background-image: url(/cms/system/modules/ch.SWITCH.ocms.front.www/resources/images/framework/nav_arrow_blue_norm.gif);
	background-position: 0px 6px;
	background-repeat: no-repeat;
}
.open1 {
	padding-left: 10px;
	background-image: url(/cms/system/modules/ch.SWITCH.ocms.front.www/resources/images/framework/nav_arrow_blue_open.gif);
	background-position: 0px 8px;
	background-repeat: no-repeat;
}
