<?xml version="1.0" encoding="UTF-8"?>
<suite name="uApprove" verbose="2">
    
    <test name="uApprove" enabled="true">  
        <packages>       
            <package name="ch.SWITCH.aai.uApprove" />
        </packages>
    </test>
    
    <test name="uApprove.tou" enabled="true">  
        <packages>       
            <package name="ch.SWITCH.aai.uApprove.tou"></package>
            <package name="ch.SWITCH.aai.uApprove.tou.storage"></package>
        </packages>
    </test>
</suite>
