<?xml version="1.0" encoding="UTF-8"?>
<suite name="PrivacyLens" verbose="2">
    
    <test name="privacylens" enabled="true">
        <packages>
            <package name="edu.cmu.ece.privacylens" />
        </packages>
    </test>

    <test name="privacylens.ar" enabled="true">  
        <packages>
            <package name="edu.cmu.ece.privacylens.ar"></package>
            <package name="edu.cmu.ece.privacylens.ar.storage"></package>
        </packages>
    </test>
</suite>
