<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <style type="text/css">
    #include( 'views/uApprove.css' )
    </style>

    <title>${messages.title}</title>
</head>

<body>

    <div>
        <a class="tooltip" href="">
            ${MessageFormat.format($messages.releaseTo, $relyingParty.name)}
            #if ( ${relyingParty.description} )
            <span>${relyingParty.description}</span>         
            #end
        </a>
    </div>
    
    <div>
	    <table>
		    <thead>
		       <tr>
		          <td colspan="2">
		              ${messages.attributesHeader}
		          </td>
		       </tr>
		    </thead>
		    <tbody>
		    #foreach( ${attribute} in ${attributes} )
		        <tr>
		            <td>
		               <a class="tooltip" href="">${attribute.name}
		                   #if ( ${attribute.description} )
		                   <span>${attribute.description}</span>  
		                   #end
		               </a>
		            </td>
		            <td>
		            #foreach( ${value} in ${attribute.values} )
		                ${value} <br />
		            #end
		            </td>
		        </tr>
	       #end
	       </tbody>
	    </table>
    </div>
    
    <div>
        <form action="" method="post">
        #if (${allowGeneralConsent})
            <input type="checkbox" id="generalConsent" name="generalConsent" value="true"/>
            <label for="generalConsent">${messages.generalConsent}</label>
        #end
            <button type="submit">${messages.confirm}</button>
        </form>
    </div>    
</body>

</html>