<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="uApprove.css"/> 
	<title>${localized.tou_title}</title>
</head>

<body>
    <div>
        <strong>${localized.tou_title}</strong>
    </div>

	<div id="tou.content">
	   ${tou.content}
	</div>

    <div id="tou.form">
        <form action="" method="post" >
            <input type="checkbox" id="tou.accept" name="tou.accept" value="true"/>
            <label for="tou.accept">${localized.tou_accept}</label>
            <button type="submit">${localized.tou_confirm}</button>
        </form>
    </div>
    
</body>
</html>