<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="uApprove.css"/> 
	<title>${localizedMessages.title}</title>
</head>

<body>
	<div>
	   ${tou.content}
	</div>

    <div>
        <form action="" method="post" >
            <input type="checkbox" id="accept" name="accept" value="true"/>
            <label for="accept">${localizedMessages.accept}</label>
            <button type="submit">${localizedMessages.confirm}</button>
        </form>
    </div>
    
</body>
</html>