@charset "UTF-8";
@media all {
/*----------------------------------------- Serviceslider IE8 Hack-----------------------------*/
/*---------------------------------------------------------------------------------------------*/
	#header, .col1, .col2, .col3 {
	z-index: 200; /* notwendig fuer serviceslider */
	}
	
	
	.servicebackground .servicefooter {
    left: 0;
    margin-left: 32px;
    margin-top: 30px;
	}
	
	.servicebackground {
	background-color:white;
	width:62.358em; /*688px*/
	margin:-1.087em 0em 0em 0.996em; /*-12px 0px 0px 11px*/
	padding:1.268em; /*14px*/
	position: absolute;
	display: none;
	left: 18.127em; /*200px*/ 
	z-index: 300;	
	/* IE shadow hack*/
		zoom: 1;
	    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=4);	

		}


/*-------------------------------------Neue Context-Box IE < 9 Hack --------------------------------*/
/*---------------------------------------------------------------------------------------------*/	
	.contextbox {
	/* IE shadow hack*/
		background-color: #FFF;
		padding-left: 15px;
		zoom: 1;
	    filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=0, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=45, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=90, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=135, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=180, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=225, Strength=4)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=260, Strength=5)
	    progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=305, Strength=4);		
		}
	
	
}